<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc03-annotation:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc03_annotation_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc03-annotation/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc03-annotation" />
        </element>
      </element>
    </root>
  </artifact>
</component>